:root {
    --brown-color: #3d2514;
}

.main-color {
    color: var(--brown-color);
}


.font-size-lg {
    font-size: 8vw;
}

.text-shadow-white {
    text-shadow: 3px 3px white;
}

.font-size-m {
    font-size: 4vw;
}

.line-height-none {
    line-height: 0.9;
}

.border-dashed {
    border: 1vw;
    border-style: dashed !important;
}

.font-weight-vlg {
    font-weight: 900 !important;
}

.letter-spacing-sm {
    letter-spacing: 0vw;
}


.background-yellow-img {
    background-image: url("../assets/background_image.png");
}

.card {
    border: none !important;
    border-radius: 0 !important
}

.card-img {
    border: none !important;
    border-radius: 0 !important
}

.card-img-overlay {
    border: none !important;
    border-radius: 0 !important;
}
.g6-background-img{
    background-image: url('../assets/group_6/background.png') !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

.line_height-lg {
    line-height: 1.5;
}